.footer {
    background-color: $color-primary-light;
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr ));
    align-items: start;
    text-align: center;
    font-size: 1.5rem;
    h1{
        margin: 1rem 0;
    }
    &__item {
        padding: 3rem;
        @media screen and (max-width: $bg-small) {
            padding: 1rem;
        }
        // width: 100%;
    }
    &__copyright {
        grid-column: 1/ -1;
        font-size: 1rem;
    }
    .fas {
        margin-right: 0.5rem;
    }
}